{% extends "base.html" %}

{% block content %}
  
<section class="hero is-fullheight">
  <div class="hero-body has-background-white-bis" style="margin-top: 2rem">

<div class="columns">

  <div class="column aside hero is-fullheight is-2">

      <aside class="menu">
        <a class="button is-info is-block is-bold">
          Novo Armazenamento
        </a>
             
        <p class="menu-label">
          Geral
        </p>
        <ul class="menu-list">
          <li><a>Dashboard</a></li>
        </ul>
        <p class="menu-label">
          Contas
        </p>
        <ul class="menu-list">
          <li><a>Conta 1</a></li>
          <li><a>Conta 2</a></li>
          <li><a>Conta 3</a></li>
          <li><a>Conta 4</a></li>

      </aside>
    </div>

      <div class="column hero is-3  has-background-white">
        
        <p>sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs dadsafsdfasd sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs dadsafsdfasd 
      sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs dadsafsdfasd sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafssadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs dadsafsdfasd sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs
      sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs dadsafsdfasd sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafssadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs dadsafsdfasd sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafssadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs dadsafsdfasd sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs

    </p> 

      </div>
  
  <div class="column hero is-7 is-fullheight has-background-white">
    <p>sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs dadsafsdfasd sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs dadsafsdfasd 
      sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs dadsafsdfasd sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafssadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs dadsafsdfasd sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs
      sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs dadsafsdfasd sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafssadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs dadsafsdfasd sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafssadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs dadsafsdfasd sadfsdfadafdsd sasafsdfasd sdafsdadsaf sdfasdsdafs

    </p> 

  </div>

</div>


            </div>
       </section>


{% endblock %}